* {
  margin: 0;
  padding: 0;
}
.info-modal {
  position: fixed;
  z-index: 1000;
  font-size: 20px;
  top: 1%;
  right: 5%;
  background-color: darkblue;
  color: white;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}