.wrapper, .cart-wrapper {
    display: flex;
    width: 80%;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.left-panel, .right-panel {
    width: 30%;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
.right-panel {
    min-width: 65%;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}
.right-panel::-webkit-scrollbar {
    width: 15px;
    background: orange;
    border-radius: 50px;
}
.right-panel::-webkit-scrollbar-thumb {
    background: royalblue;
    border-radius: 50px;
    position: relative;
}
.left-panel div {
    width: 300px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff9800;
    border: 1px solid #ff9800;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.left-panel div:hover {
    background-color: #ffca7b;
    border: 1px solid black;
}
.right-panel .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
}
.right-panel .item {
    width: 40%;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.right-panel .item img {
    width: 250px;
    height: 205px;
}
.right-panel .item button {
    width: 40%;
    height: 40px;
    border: none;
    background-color: #ff9800;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.right-panel .item button:hover {
    background-color: #ffca7b;
    border: 1px solid black;
}
.cart-item {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    padding: 10px;
}
.some-item {
    width: 300px;
}
.some-item button{
    width: 100px;
    height: 40px;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cart-item img {
    margin-right: 40px;
}
.cart-item input {
    text-align: center;
    width: 80px;
    height: 40px;
}
.cart-wrapper {
    height: 600px;
}
.cart-wrapper .left-panel {
    align-items: center;
}
.cart-wrapper .left-panel div {
    width: 0;
    height: 0;
    font-size: 25px;
    margin-bottom: 10px;
}
.cart-wrapper .left-panel input {
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.cart-wrapper .right-panel img {
    width: 285px;
    height: 200px;
}
.bottom-panel {
    text-align: right;
    margin-right: 15%;
    margin-top: 30px;
    font-size: 40px;
}
.bottom-panel span {
    font-size: 42px;
}
.bottom-panel button, .bottom-panel input {
    width: 200px;
    height: 60px;
    font-size: 40px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ff9800;
    cursor: pointer;
}
.bottom-panel input {
    height: 40px;
    border: none;
    font-size: 30px;
    cursor:auto;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.bottom-panel button:hover {
    background-color: #ffca7b;
}
.captcha {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.notFound {
    display: flex;
    justify-content: center;
    margin-top: 18%;
    font-size: 40px;
    color: red;
}
.coupons-wrapper {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}
.coupon, .order {
    width: 250px;
    height: 100px;
    background-color: orange;
    margin-right: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.order {
    width: 400px;
    height: 300px;
    color: white;
    text-align: left;
    font-size: 30px;
}
.order span { 
    color: black;
    font-size: 40px;
}
.coupon button {
    width: 200px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}